<div class="container">
  <h1>Editing Outfit</h1>

  <%= render 'form' %>

  <%= link_to 'Show', user_outfit_path(@outfit,current_user) %> |
  <%= link_to 'Your Outfits', user_outfits_path(current_user) %>
</div>
