<h1>Outfits</h1>

<div id="items" class="transitions-enabled">
  <% @outfits.each do |outfit| %>
    <div class="box panel panel-default">
      <div class="square_item_image">
        <%= link_to image_tag(outfit.outfit_image.url(:large)), user_outfit_path(outfit.user_id, outfit) %>
      </div>
      <div class ="panel-body">
        <div class = "itemlistretailer">
          <div class="itemlisttitle">
            <%= link_to outfit.caption, user_outfit_path(outfit.user_id, outfit) %><br>
            <%= link_to outfit.user.username, outfit.user %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

