<div class="container">
  <%= simple_form_for :outfit_product do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.collection_select, :product, :user_id, current_user.products, :id, :title  %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

