<%= javascript_include_tag :defaults, "nested_form" %>
<div class="fields">
  <%= s.input :title %>
  <%= s.link_to_remove "Remove size", data: { confirm: "Are you sure you want to delete this size?" } %>
</div>
