@import "bootstrap-sprockets";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
$navbar-default-bg: #ffffff;
$navbar-default-link-color: #95a5a6;
$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 60px;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Oswald:300);

/* =============================================================== */
/*  Font
/* =============================================================== */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  margin: 0;
  padding-bottom: 15px;
}

h1 {
  font-size: 35px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 17px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}

.price {
  font-size: 35px;
  font-weight: 900;
  padding-bottom: 0px;
}

.itemtitle {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 15px
}

.carousel-title{
  font-family: 'Oxygen', sans-serif;
  font-size: 50px;
  font-weight: 400;
}
/* =============================================================== */
/*  Navigation Bar
/* =============================================================== */

.navbar-default {
	border-radius: 0px;
}

.navbar-usershow {
  border-radius: 7px;
  background: #EDEFF1;
}

/* =============================================================== */
/*  FOOTER
/* =============================================================== */

.footer {
  background: #EDEFF1;
  height: auto;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}

.footer a {
    color: #78828D
}

.supportLi h4 {
  font-size: 30px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-bottom p.pull-left {
  padding-top: 6px;
}

/* =============================================================== */
/*  Error Messages
/* =============================================================== */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* =============================================================== */
/*  User.index
/* =============================================================== */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* =============================================================== */
/*  Item.show
/* =============================================================== */

.sellerinfoitemshow {
 white-space: nowrap;
 padding-top: 15px;
}

.sellerinfoitemshow * {
 display: inline;
}

.itemiteminfoimage img{
  width:30px;
  height:30px;
}

.inline * {
  display: inline;
  white-space: nowrap;
  padding-bottom: 3px;
  padding-top: 10px;
}

.filterBox {
  display: inline-block;
  margin-right: 20px;
}

/* =============================================================== */
/*  Itemlist.index
/* =============================================================== */

.itemlistprice{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.itemlisttitle{
  font-size: 15px;
  color: #34495e;
  text-align: center;
  padding: 20px 0px;
}

#items {
  margin: 0 auto;
}

.box {
  margin: 15px;
  width: 250px;
  margin: 15px;

}

.box img {
  width: 100%;
}

.itemlistretailer {
  text-align: center;
  font-size: 13px;
}

.itemlistretailer img{
  width:30px;
  height:30px;
}


.section-title-style2, .section-title.style2 {
  position: relative;
}

.style2 .section-title:after, .section-title-style2:after, .section-title.style2:after, .section-title-style2:after {
  background: #DDDDDD;
  content: "";
  display: block;
  height: 1px;
  margin-left: 20%;
  position: absolute;
  top: 28px;
  width: 60%;
  z-index: 1;
}

.section-title-style2 span, .section-title.style2 span {
  background: #FFFFFF;
  display: inline-block;
  padding: 10px;
  position: relative;
  width: auto;
  z-index: 2;
}


/* =============================================================== */
/*  Buttons
/* =============================================================== */

.button {
  padding-right: 10px;
  display: inline;
  padding-left: 10px;
}

.btn-contact{
  background: #2ecc71;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.btn-carousel-signup{
  background: #2ecc71;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 12px 22px;
  font-size: 22px;
}

.btn-carousel-login{
  background: #2980b9;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 12px 22px;
  font-size: 22px;
  color: #ffffff;
}

.btn-carousel-signup a{
  color:#ffffff;
}

.btn-carousel-login a{
    color:#ffffff;
}


.btn-verifiedsafsy{
  background: #9b59b6;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.btn-wishlist{
  background: #bdc3c7;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.btn-addtocart{
  background: #2980b9;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

/* =============================================================== */
/*  User mass edit http://localhost:3000/user_items
/* =============================================================== */

.small_fifty_image img {
  max-width: 50px;
  max-height: 50px;
}

.inlineuseritems * {
  white-space: nowrap;
  display: inline;
}



