<div class="container">
	<p id="notice"><%= notice %></p>
	<div class = "col-md-3">
		<h2><%= @category.name %></h2>
	</div>
	<div class = "col-md-9">
		<div id="tag_c`loud">
		  <% tag_cloud(@tags, %w[s m l]) do |tag, css_class| %>
		    <%= link_to tag.name, tag_path(tag.name, id: @category.id), class: css_class %>
		  <% end %>
		</div>
	</div>
	<div class = "col-md-12">
		<div class="line-separator"></div>
	</div>
	<div class = "col-md-12">
		<%= render 'items/itemdisplay' %>
	</div>
</div>