<!-- Included Bootstrap CSS Files -->
<link rel="stylesheet" href="./js/bootstrap/css/bootstrap.min.css" />

<!-- Just include this Css file -->
<link rel="stylesheet" href="./css/jquery.carousel.fullscreen.css" />

<div class= "sliderhome">
  <!-- This is a typical Twitter Bootstrap Carousel -->
  <!-- Carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class = "carousel_title_overlay">
        <div class="carousel-title">THE NEW WAY TO BUY GREAT CLOTHES</div>
        <div class="button"><button type="button" class="btn btn-carousel-signup btn-lg "><%= link_to "Sign Up", signup_path %></button></div>
        <div class="button"><button type="button" class="btn btn-carousel-login btn-lg "><%= link_to "Log In", login_path %></button></div>
      </div>
      <div class="item active">
        <%= image_tag "slider/1.jpg" %>
      </div>
      <div class="item">
        <%= image_tag "slider/2.jpg" %>
      </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div class="container">
  <div class="headline_front_page">Lorem Ipsum Dolor Sit Amet</div>
  <div class="tag_front_page">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
</div>

<script src="./js/jquery-1.10.0.min.js"></script>
<script src="./js/bootstrap/js/bootstrap.min.js"></script>

  <!-- Just include this Js file -->
  <script src="./js/jquery.carousel.fullscreen.js"></script>

