<!-- Included Bootstrap CSS Files -->
<link rel="stylesheet" href="./js/bootstrap/css/bootstrap.min.css" />

<!-- Just include this Css file --> 
<link rel="stylesheet" href="./css/jquery.carousel.fullscreen.css" />

<div class= "sliderhome">
  <!-- This is a typical Twitter Bootstrap Carousel -->
  <!-- Carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <!--for the next slider copy this down to end div and use item instead of item active-->
      <div class="item active"> 
        <%= image_tag "slider/imac_website_1980.jpg" %>
        <div class="container">
          <div class="carousel-caption">
            <div class="carousel-title">Safsy</div>
            <div class="carousel-title">The Safest Way To Shop</div>
            <p class="lead">All items are guaranteed to arrive, no fakes, Warranty Protection, and Safsy Protection</p>
            <button type="button" class="btn btn-defalt btn-lg"><%= link_to 'Log In', login_path %></button>
            <button type="button" class="btn btn-success btn-lg"><%= link_to 'Sign Up', signup_path %></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <script src="./js/jquery-1.10.0.min.js"></script>
  <script src="./js/bootstrap/js/bootstrap.min.js"></script>

  <!-- Just include this Js file -->
  <script src="./js/jquery.carousel.fullscreen.js"></script>
</div>
